<div class="container">
    <div class="col-md-12">
        <h1>Register New User</h1>

        {% if not form.vars.valid %}
            <div class="alert alert-danger" role="alert">
                <p>Registration failed. Confirm passwords match and a user with the entered details does not already exist.</p>
            </div>
        {% endif %}

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post" class="form-horizontal">

            <div class="form-group">
                <label for="fos_user_registration_form[email]" class="col-md-2 control-label">Email Address</label>
                <div class="col-md-4">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email Address' } }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_registration_form[username]" class="col-md-2 control-label">Username</label>
                <div class="col-md-4">
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username' } }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_registration_form[username]" class="col-md-2 control-label">First Name</label>
                <div class="col-md-4">
                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Fisrt Name' } }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_registration_form[username]" class="col-md-2 control-label">Last Name</label>
                <div class="col-md-4">
                    {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Last Name' } }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_registration_form[plainPassword][first]" class="col-md-2 control-label">Password</label>
                <div class="col-md-4">                
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password' } }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_registration_form[plainPassword][second]" class="col-md-2 control-label">Password Confirm</label>
                <div class="col-md-4">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Password Confirm' } }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" class="btn obg-form-btn obg-clear-form-btn" id="_submit" name="_submit" value="Register User" />
                </div>
            </div>

            {{ form_rest(form) }}

        </form>
    </div>
</div>
