{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
    <div class="col-md-12">
    <h1>Log In</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal col-md-offset-3">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username" class="col-md-2 control-label">User Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" />
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Password" />
                </div>
            </div>

            <div class="form-group">    
                <div class="col-md-offset-2 col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember Me
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" class="btn btn-default" id="_submit" name="_submit" value="Log In" />
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock fos_user_content %}
